In [1]:
import pandas as pd

## Read data and finding missing values if any

In [2]:
df= pd.read_csv("mnist.csv")

In [3]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [5]:
#missing values
df.isna().sum()

label       0
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Length: 785, dtype: int64

In [6]:
df.corr()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
label,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.033424,0.025050,0.019558,0.014490,0.009790,0.006075,NaN,NaN,NaN,NaN
pixel0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pixel1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pixel2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pixel3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
pixel779,0.006075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.000240,-0.000174,-0.000124,0.236633,0.905835,1.000000,NaN,NaN,NaN,NaN
pixel780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pixel781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pixel782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pixel783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Separate features and outcome

In [12]:
x= df.drop(columns="label")
y= df.label

## Split data

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,random_state=0)

## Scale data

In [15]:
from sklearn.preprocessing import StandardScaler
stdScalar= StandardScaler()

In [16]:
stdScalar.fit(x_train)

StandardScaler()

In [17]:
#transform train and test data
x_train_std= stdScalar.transform(x_train)
x_test_std= stdScalar.transform(x_test)

## Logistic Regression

In [39]:
from sklearn.linear_model import LogisticRegression

In [43]:
logModel= LogisticRegression(max_iter=1000)

In [44]:
logModel.fit(x_train_std, y_train)

LogisticRegression(max_iter=1000)

## Accuracy for Logistic Regression

In [45]:
logModel.score(x_train_std, y_train) #accuracy score on train dataset

0.9588571428571429

In [46]:
logModel.score(x_test_std, y_test) #accuracy score on test dataset

0.9076190476190477

In [53]:
y_train_pred= logModel.predict(x_train_std)

In [54]:
print(y_train_pred)

[1 8 9 ... 4 0 9]

In [55]:
y_test_pred= logModel.predict(x_test_std)

In [56]:
print(y_test_pred)

[3 6 9 ... 4 0 5]

## KNN

In [57]:
from sklearn.neighbors import KNeighborsClassifier

In [58]:
knn= KNeighborsClassifier()

In [59]:
knn.fit(x_train_std, y_train)

KNeighborsClassifier()

In [60]:
knn.score(x_train_std, y_train)

0.9565396825396826

In [61]:
knn.score(x_test_std, y_test)

0.9380952380952381

In [62]:
knn.predict(x_train_std)

array([1, 8, 9, ..., 9, 0, 9], dtype=int64)

In [63]:
knn.predict(x_test_std)

array([3, 6, 9, ..., 4, 0, 5], dtype=int64)

## For K=3

In [64]:
knn1= KNeighborsClassifier(n_neighbors=3)

In [65]:
knn1.fit(x_train_std, y_train)

KNeighborsClassifier(n_neighbors=3)

In [66]:
knn1.score(x_train_std, y_train)

0.9662222222222222

In [67]:
knn1.score(x_test_std, y_test)

0.938952380952381

## For K=4

In [77]:
knn2 = KNeighborsClassifier(n_neighbors=4)

In [78]:
knn2.fit(x_train_std, y_train)

KNeighborsClassifier(n_neighbors=4)

In [79]:
knn2.score(x_train_std, y_train)

0.9588253968253968

In [80]:
knn2.score(x_test_std, y_test)

0.9374285714285714

## For K=6

In [81]:
knn3 = KNeighborsClassifier(n_neighbors=6)

In [82]:
knn3.fit(x_train_std, y_train)

KNeighborsClassifier(n_neighbors=6)

In [83]:
knn3.score(x_train_std, y_train)

0.951936507936508

In [84]:
knn3.score(x_test_std, y_test)

0.9379047619047619

## Conclusion

### As we can see that, K=3 has the highest accuracy among all other values of K for training as well as test dataset.
### Therefore, we can say that best value for number of neighbors is 3.